#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Rubik", sans-serif;
  text-align: center;
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 10px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.react-chatbot-kit-chat-container {
  width: 700px !important;
  height: 900px !important;
}
.react-chatbot-kit-chat-message-container {
  height: 870px !important;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: safe flex-end;
  /* margin-bottom: 20px; */
  overflow-y: auto !important;
}
.react-chatbot-kit-chat-header,
.react-chatbot-kit-user-chat-message-arrow {
  display: none !important;
}
.react-chatbot-kit-user-chat-message {
  border: solid 1px !important;
  background-color: white !important;
  border-color: #f6f7f8 !important;
  border-radius: 8px;
}
.react-chatbot-kit-chat-bot-message {
  margin-left: 20px !important;
  background-color: #dbdee3 !important;
  color: black !important;
  padding: 6px 16px !important;
  width: 350px !important;
  border-radius: 8px;
  font-size: 14px !important;
}
.react-chatbot-kit-chat-bot-message-arrow {
  display: none !important;
}
